{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}
<br>
<br>
<br>




<div class="letters">
<div>M</div>
  <div>o</div>
  <div>n</div>
<div>i</div>
  <div>k</div>
  <div>a</div>
  <div>S</div>
  <div>i</div>
  <div>n</div>
<div>g</div>
  <div>h</div>

  </div>
  <br>
   &nbsp;
  <div class="letters">
<div>W</div>
  <div>e</div>
  <div>b</div>
  <div>D</div>
  <div>e</div>
<div>v</div>
  <div>e</div>
  <div>l</div>
  <div>o</div>
 <div>p</div>
 <div>e</div>
<div>r</div>



<script>
   let letters= document.querySelectorAll('.letters div');

window.addEventListener('load',()=>
letters.forEach((letter,i)=>                      letter.style.animation = `slide 2s ease forwards ${i/3 +0.3}s`))
</script>
</div>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h2 class="mt-5">Portfolio</h2>
<hr>
<div class="row">
  {% for project in projects %}
  <div class="col-lg-4 col-md-6">

    {% if project.url %}
    <a href="{{ project.url }}">
      <img src="{{ project.image.url }}" class="img-fluid mb-2">
    </a>
    {% else %}

    <img src="{{ project.image.url }}" class="img-fluid mb-2">
    {% endif %}
    <h3>{{ project.title }}</h3>
    <p>{{ project.description }}</p>

  </div>
  {% endfor %}
</div>

{% endblock %}
